name: Windows Installer Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter config --enable-windows-desktop
      - run: flutter pub get
      - run: flutter build windows

      - name: Download VC++ Runtime
        run: curl -L -o vc_redist.x64.exe https://aka.ms/vs/17/release/vc_redist.x64.exe

      - name: Install Inno Setup
        run: choco install innosetup -y

      - name: Build Installer
        run: iscc installer.iss

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Installer
          path: installer/Setup.exe

