name: Build Windows Setup

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop

      - name: Get packages
        run: flutter pub get

      - name: Build Windows App
        run: flutter build windows

      # Install Inno Setup
      - name: Install Inno Setup
        run: choco install innosetup -y

      # Create installer.iss using CMD (no encoding problems)
      - name: Create ISS file
        shell: cmd
        run: |
          (
          echo [Setup]
          echo AppName=MyFlutterApp
          echo AppVersion=1.0
          echo DefaultDirName={autopf}\MyFlutterApp
          echo OutputDir=installer
          echo OutputBaseFilename=Setup
          echo.
          echo [Files]
          echo Source: "build\windows\x64\runner\Release\*"; DestDir: "{app}"; Flags: recursesubdirs
          echo.
          echo [Icons]
          echo Name: "{group}\MyFlutterApp"; Filename: "{app}\your_app.exe"
          ) > installer.iss

      - name: Build Installer
        run: iscc installer.iss

      - name: Upload Setup
        uses: actions/upload-artifact@v4
        with:
          name: setup
          path: installer/Setup.exe

